<header class="flex justify-content-between align-items-center">
    <button (click)="showAddVisitDialog()" type="button" class="flex p-button-info" pButton label="Add a Visit" icon="pi pi-plus" style="margin-left:.25em"></button>
    <button *ngIf="auth.isLoggedIn()" (click)="logout()" type="button" class="flex p-button-danger" pButton label="Logout" icon="pi pi-power-off" style="margin-left:.25em"></button>
</header>

<!-- Admin Dashboard -->
<div class="p-6" style="border-radius: 55px;">
    <div *ngIf="visitsLoading"1020 class="flex align-items-center justify-content-center">
        <p-progressSpinner></p-progressSpinner> 
    </div>
    
    <div *ngIf="!visits.length && !visitsLoading" id="empty" class="flex align-items-center justify-content-center">
        <h2>No visits had been added yet</h2> 
    </div>
    <p-table [value]="visits" responsiveLayout="scroll" *ngIf="visits.length && !visitsLoading">
        <ng-template pTemplate="header">
            <tr>
                <th *ngIf="role === 'Admin'">Owner Name</th>
                <th>Number</th>
                <th>Type</th>
                <th>Visitor Name</th>
                <th>Car Plate Number</th>
                <th>Date</th>
                <th>Status</th>
                <th *ngIf="role === 'Admin'">Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-visit>
            <tr>
                <td *ngIf="role === 'Admin'">{{visit.userFullName}}</td>
                <td>{{visit.number}}</td>
                <td>{{visit.type}}</td>
                <td>{{visit.visitor?.name}}</td>
                <td>{{visit.carPlateNumber}}</td>
                <td>{{visit.date}}</td>
                <td>{{visit.status}}</td>
                <td *ngIf="role === 'Admin'">
                    <button (click)="confirmVisit(visit)" pButton type="button" icon="pi pi-check" class="p-button-raised p-button-rounded p-button-sm p-button-success" pTooltip="accept" tooltipPosition="left"></button>
                    <button (click)="cancelVisit(visit)" pButton type="button" icon="pi pi-times" class="p-button-raised p-button-rounded p-button-sm p-button-danger ml-2" pTooltip="reject"></button>
                </td>

            </tr>
        </ng-template>
    </p-table>
</div>

<!-- add visit dialog -->
<p-dialog header="Add a Visit" [(visible)]="displayAddVisit" [contentStyle]="{'overflow': 'visible'}" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
    <p-scrollPanel [style]="{width: '100%', height: '80vh'}">
        <div class="card" *ngIf="displayAddVisit" [formGroup]="visitForm" >
            <div class="field">
                <label for="name">Number</label>
                <input id="visitNumber" type="text" class="inputfield w-full" pInputText formControlName="number">
            </div>
            <div class="field">
                <label for="type">Type</label>
                <input id="type" type="text" class="inputfield w-full" pInputText formControlName="type">
            </div>
            <div class="field">
                <label for="carPlateNum">Car Plate Number</label>
                <input id="carPlateNum" type="text" class="inputfield w-full" pInputText formControlName="carPlateNumber">
            </div>
            <div class="field">
                <label for="date">Date</label>
                <input id="date" type="date" class="inputfield w-full" pInputText formControlName="date">
            </div>
            <div formGroupName="visitor" >
                <div class="field">
                    <label for="name">Visitor Name</label>
                    <input id="name" type="text" class="inputfield w-full" pInputText formControlName="name">
                </div>
                <div class="field">
                    <label for="email">Visitor Email</label>
                    <input id="email" type="email" class="inputfield w-full" pInputText formControlName="email">
                </div>
                <div class="field">
                    <label for="phone">Visitor Phone</label>
                    <input id="phone" type="text" class="inputfield w-full" pInputText formControlName="phone">
                </div>
            </div>
            <div class="flex justify-content-center flex-wrap field">
                <button pButton type="button" 
                    class="flex align-items-center justify-content-center p-button-raised p-button-rounded"
                    (click)="addVisit()" [disabled]="visitForm.invalid">
                    Add a Visit
                </button>
            </div>
        </div>
    </p-scrollPanel>



</p-dialog>

<p-toast key="visitAdded" position="top-center"></p-toast>
<p-toast key="visitAddFailed" position="top-center"></p-toast>

<p-toast key="visitUpdated" position="top-center"></p-toast>
<p-toast key="visitUpdateFailed" position="top-center"></p-toast>